body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2e669;
    font-family: "Orbitron", sans-serif;
    height: 100vh;
    margin: 0;
}

#button-grid-configurator {
    width: 100px;
    height: 50px;
    border-radius: 12px;
    background-color: transparent;
    font-family: "Orbitron", sans-serif;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-item {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    flex: 0 0 auto;
}

